<!-- Day 2 -->
<!-- <div class="container">
    <firstComp></firstComp>
     <app-second></app-second>
</div> -->

<!-- Day 3 -->
<!-- <app-all-in-one></app-all-in-one> -->

<div >
    <app-registeration (studentEvent)="receiveStudent($event)"></app-registeration>
    <app-student [Students]="Students"></app-student>
</div> 

<!-- Day 4 FormControl -->

<!-- <div>
  <app-add-user (studentEvent)="receiveStudent($event)"></app-add-user>
  <app-user-table [oneStudent]="student"></app-user-table>
</div> -->
