/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(34, 30, 30);
    
}

app-root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

