<form [formGroup]="Form" (ngSubmit)="Add()" class="m-3">
  <h3>Registration</h3>
  <div class="myForm d-flex flex-column align-items-center gap-3">
    <input
      type="text"
      class="form-control"
      placeholder="Name"
      aria-label="Username"
      aria-describedby="basic-addon1"
      formControlName="name"
    />
    @if((!(Form.controls['name'].valid) && Form.controls['name'].value !==null )){
    <div class="alert-age">Name must be at least 3 characters</div>
    }

    <input
      type="number"
      class="form-control"
      placeholder="Age"
      aria-label="Username"
      aria-describedby="basic-addon1"
      formControlName="age"
    />
    @if(!(Form.controls['age'].valid) && Form.controls['age'].value !==null ){
    <div class="alert-age">Enter valid age between 20 and 40</div>
    }
    <button type="submit" class="btn btn-info">ADD</button>
  </div>
</form>
